.answer-card {
  display: flex;
  justify-content: flex-end;
  .answer-card-container {
    padding: 25px 30px;
    border-radius: 50px;
    border-top-right-radius: 0px;
    background: var(--van-record-primary-background-color);
    .answer-card-top {
      display: flex;
      justify-content: space-between;
      .right-icon {
        width: 26px;
        height: 26px;
        margin-top: 8px;
      }
      .left-span {
        font-size: 28px;
        font-weight: 400;
        color: #ffffff;
        margin-right: 20px;
        word-break: break-all;
        flex: 1;
      }
    }
    .answer-record-list {
      margin: 20px 100px 20px 0px;
      .record-item {
        font-size: 28px;
        font-weight: 400;
        color: #ffffff;
      }
    }
    .bottom-list {
      margin-right: 10px;
      margin-top: 5px;
      .left-span {
        font-size: 28px;
        font-weight: 400;
        word-break: break-all;

        color: #ffffff;
      }
    }
  }
  .voice-list {
    .voice-item {
      display: flex;
      align-items: center;
      margin-top: 20px;
      .voice {
        display: flex;
        height: 76px;
        line-height: 76px;
        background: linear-gradient(184deg, #fbe9dd 0%, #fff4eb 45%, #f6f6fa 100%);
        border-radius: 20px;
        font-size: $zaui-font-size-md;
        font-weight: 400;
        color: $voice-color;
        min-width: 130px;
        .voice-icon {
          margin-left: 25px;
          margin-right: 10px;
        }
        .duration {
          line-height: 76px;
        }
      }
      .close-icon {
        font-size: 38px;
        margin-left: 26px;
        color: #e0e0e0;
      }
    }
  }
}
