.page-myArticle {
    background: #ffffff;
    .vant-tab-all {
        --van-tabs-bottom-bar-width:60px;
        --van-tab-font-size:$zaui-font-size-md2;
      .van-tabs__wrap {
        border-bottom: 2px solid #f4f5f7 !important;
        width: 100%;
      }
    }
  
    .my-visitor {
      padding: 30px;
    }
    .my-share {
      padding: 30px;
      padding-top: 0px;
    }
    .my-collection {
      padding: 30px;
      padding-top: 0px;
    }
  }