/**
 * 全局通用的样式
 */

// 主题颜色color
.primary-color {
  color: var(--primary-color);
  fill: var(--primary-color);
}
body {
  font-size: 32px !important;
}

// 带渐变背景的按钮
.linear-btn {
  background: var(--van-linear-bg, linear-gradient(to right, var(--primary-color), var(--van-primary-color-light8)))!important;
  border: none;
  color: #fff;
}
// 带阴影的按钮
.shadow-btn {
  height: 90px;
  @extend .linear-btn;
  margin-bottom: 40px;
  box-shadow: 0px 20px 50px -20px var(--van-primary-color);

  .van-button__text {
    font-weight: bolder;
  }
}

// 全部footer下一步按钮通用样式
.footer-button {
  width: 100%;
  height: 150px;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid $zaui-line;
  padding: 0 30px;
  background: #ffffff;
  z-index: 10;
  .van-button {
    height: 90px;
    border-radius: 8px;
    border: 2px solid $zaui-brand;
    &:not(:first-child) {
      margin-left: 20px;
    }
    &:nth-last-child(1):first-child{
      width: 100%;
    }
    &:nth-last-child(2):first-child,
    &:nth-last-child(2):first-child ~  .van-button {
      width: calc(100% / 2);
    }
  }
}

// 金额颜色
.price {
  color: $zaui-price;
  font-size: $zaui-font-size-md2;
  font-weight: 600;
}

.pro-radio-wrap {
  // margin-top: -28px;
  // padding: 14px 0;
}

.popup-title {
  height: 104px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 64px;
  font-size: 34px;
  font-weight: 600;
  color: #393d46;
  border-bottom: 2px solid $zaui-line;
}
