/**
 * vant 组件库需要全局覆盖的样式
 */
body {
  --van-switch-width: 1.16rem;
}
//  tab组件的下划线颜色和选中文字颜色
.van-tabs__line {
  height: 8px;
}

.van-tab--active {
  font-weight: 600;
  color: $primary-color;
}

.van-list__finished-text {
  text-align: center;
  line-height: normal;
  font-size: $zaui-font-size-sm2;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 400;
  color: #d7d7d7;
  margin-top: 52px;
}
.van-button__text {
  font-size: 32px;
}
.van-button--default {
  // border: none;
  color: var(--van-button-default-color);
  background: var(--van-button-default-background-color);
}

// 单元格
.van-cell {
  padding: 14px $zaui-card-border;
  min-height: 60px;
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  font-size: 30px;

  &::after {
    width: 720px;
  }

  .van-field__value {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: flex-start;

    .van-field__body {
      input,
      .input {
        margin: 14px 0;
      }
    }
    .van-field__error-message {
      line-height: 28px;
      margin-bottom: 8px;
    }
  }

  .van-field__label {
    line-height: 42px;
    margin: 16px 0 8px;
  }

  .van-cell__title label {
    color: $zaui-text-title;
  }

  .van-field__control {
    input::input-placeholder {
      /* Chrome/Opera/Safari */
      color: red;
    }
    input::-moz-placeholder {
      /* Firefox 19+ */
      color: red;
    }
    input:-ms-input-placeholder {
      /* IE 10+ */
      color: red;
    }
    input:-moz-placeholder {
      /* Firefox 18- */
      color: red;
    }
  }
}

.van-search__field {
  .van-field__value {
    align-items: flex-start;
    .van-field__body {
      margin-top: 0;
    }
  }
}

// cell中右侧箭头行高
.van-cell-group .van-cell--clickable .van-cell__right-icon::before {
  // vertical-align: sub;
}

// cell 箭头与文字对齐
.van-cell__right-icon {
  height: 60px;
  display: flex;
  align-items: center;
  padding-top: 8px;
}

.van-icon-arrow {
  &:before {
    color: #99a9c0;
    font-weight: 600;
  }
}

.van-hairline--top-bottom {
  &::after {
    border-width: 0;
  }
}

.van-icon-success {
  &::before {
    content: '';
    background-image: url('@/assets/images/check-gouxuan.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
  }
}

// .van-icon-cross {
//   &::before {
//     content: '';
//     width: 24px;
//     height: 24px;
//     background-image: url('@/assets/images/img-guanbi.png');
//     background-repeat: no-repeat;
//     background-size: contain;
//   }
// }

// dialog
.van-dialog {
  width: 560px;
  .van-dialog__message {
    font-size: $zaui-font-size-md2;
    color: $zaui-text;
    text-align: center;
    width: 100%;
    padding: 24px;
  }
  .van-dialog__footer {
    display: flex;
    justify-content: center;
    border-top: 1px solid $zaui-line;

    &:after {
      border: none;
    }

    .van-button {
      width: 50%;
      height: 96px;
      flex: none;

      &.van-dialog__cancel {
        background: none;
        color: $zaui-aide-text;
        border-right: 1px solid $zaui-line;
      }

      &.van-dialog__confirm {
        background: none;
        color: $zaui-brand;

        &:after {
          border: none;
        }
      }
    }
  }
}

// checkbox 样式
.van-checkbox__icon .van-icon {
  border-radius: 8px;
}
.van-field__left-icon {
  display: flex;
  align-items: center;
}

// toast
.van-toast {
  width: auto;
  max-width: 450px;
}

// 步进器样式
.van-stepper {
  margin: 8px 0;
  .van-stepper__input {
    border: 2px solid $zaui-line;
    border-radius: 8px;
    padding: 9px 16px;
    min-width: 104px;
    margin: 0 8px !important;
  }
  button {
    border: 2px solid $zaui-line;
    border-radius: 8px;
    width: 54px;
    height: 56px;
    &::after {
      background-color: $text-color;
      height: 18px;
      width: 2px;
      border-radius: 2px;
    }
    &::before {
      background-color: $text-color;
      width: 18px;
      height: 2px;
    }
  }

  .van-stepper__minus--disabled,
  .van-stepper__plus--disabled {
    background-color: #ffffff;
    &::after {
      background-color: $zaui-text-weak;
    }
    &::before {
      background-color: $zaui-text-weak;
    }
  }
}

.van-stepper--round {
  .van-stepper__input {
    border: 0;
  }
  .van-stepper__minus, .van-stepper__plus, button {
    border: 0 !important;
    background-color: var(--van-primary-color) !important;
    width: 40px;
    height: 40px;
    font-weight: 600;
    &::after {
      background-color: #ffffff;
      font-weight: 600;
    }
    &::before {
      background-color: #ffffff;
      font-weight: 600;
    }
  }
}

// popup
.van-popup {
  .van-popup__close-icon {
    font-weight: 600;
  }
}

.xinao-custom-dialog {
  width: calc(100% - 120px);
  padding: 0px 40px;
  border-radius: 40px;

  .van-dialog__header {
    padding-top: 40px !important;
    padding-bottom: 24px !important;
    font-size: 42px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #333333;
  }

  .van-dialog__content .van-dialog__message {
    font-size: 32px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #666666;
    line-height: 45px;
    text-align: left;
    padding: 0px !important;
  }

  .van-dialog__footer {
    padding: 50px 0px 40px;
    border-top: none;
    display: flex;
    justify-content: space-between;
    .van-dialog__cancel {
      width: 260px;
      height: 88px;
      background: #f4f4f4 !important;
      border-radius: 44px;

      .van-button__text {
        font-size: 38px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #333333;
      }
    }

    .van-dialog__confirm {
      width: 260px;
      height: 88px;
      background: var(--van-linear-bg) !important;
      border-radius: 44px;
      .van-button__text {
        font-size: 38px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: #ffffff;
      }
    }
  }
}

// switch定制版
.van-switch {
  background: #8696B2 !important;
  .van-switch__node {
    border: 1px solid #8696B2;
  }
}

.van-switch--on {
  background: $zaui-brand !important;
  .van-switch__node {
    border: 1px solid $zaui-brand;
  }
}
