/**
 * vant 组件库需要全局覆盖的样式
 */

//  tab组件的下划线颜色和选中文字颜色
.van-tabs__line {
  height: 8px;
}
.van-button {
  // border: none;
}
.van-tab--active {
  font-weight: 600;
  color: $primary-color;
}
.van-list__finished-text {
  text-align: center;
  line-height: normal;
  font-size: $zaui-font-size-sm2;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 400;
  color: #d7d7d7;
  margin-top: 52px;
}
.van-button__text {
  font-size: 32px;
}
.van-button--default {
  border: none;
  color: var(--van-button-default-color);
  background: var(--van-button-default-background-color);
}

// 单元格
.van-cell {
  padding: 0 30px;
  min-height: 106px;
  &::after {
    transform: scaleY(1);
  }

  .van-field__value {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: flex-start;
    .van-field__body {
      margin-top: 28px;
    }
    .van-field__error-message {
      // line-height: 28px;
      // height: 30px;
    }
  }

  .van-field__label {
    line-height: 48px;
    margin-top: 30px;
  }

  .van-field__control {
    input::input-placeholder {
      /* Chrome/Opera/Safari */
      color: red;
    }
    input::-moz-placeholder {
      /* Firefox 19+ */
      color: red;
    }
    input:-ms-input-placeholder {
      /* IE 10+ */
      color: red;
    }
    input:-moz-placeholder {
      /* Firefox 18- */
      color: red;
    }
  }
}

.van-search__field {
  .van-field__value {
    align-items: center;
    .van-field__body {
      margin-top: 0;
    }
  }
}

// cell中右侧箭头行高
.van-cell-group .van-cell--clickable .van-cell__right-icon::before {
  // vertical-align: sub;
}

// cell 箭头与文字对齐
.van-cell__right-icon {
  height: 106px;
  display: flex;
  align-items: center;
}

.van-dialog {
  width: 560px;
  .van-dialog__message {
    font-size: $zaui-font-size-md2;
    color: $zaui-text;
    text-align: center;
    width: 100%;
  }
  .van-dialog__footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $zaui-line;

    &:after {
      border: none;
    }

    .van-button {
      width: 50%;
      height: 96px;
      flex: none;

      &.van-dialog__cancel {
        background: none;
        color: $zaui-aide-text;
        border-right: 1px solid $zaui-line;
      }

      &.van-dialog__confirm {
        background: none;
        color: $zaui-brand;

        &:after {
          border: none;
        }
      }
    }
  }
}

// checkbox 样式
.van-checkbox__icon .van-icon {
  border-radius: 8px;
}
.van-field__left-icon {
  display: flex;
  align-items: center;
}
