:root {
  /** ************************************************************/
  /** ------~~~~~~~~~~~       标准token      ~~~~~~~~~~~----------*/
  /** ************************************************************/
  /*==== 品牌色  ====*/
  --zaui-brand: #c41e21; /* 主题色  */
  --theme-primary: #5ec7d1; /* 主题色  */
  //--zaui-brand-secondary: #0D6EFE; /* 第二品牌色 ===用于多品牌颜色需求  */
  --zaui-brand-1: #c41e2110; /* 主题一半透明色 */
  --zaui-brand-2: #c41e2150; /* 主题一半透明色 */
  --zaui-brand-7: #c41e2110; /* 主题浅背景色 品牌浅色背景  ===线框主题按钮，浅色主题背景*/

  /** ==== 辅助颜色 ====*/
  --zaui-success: #0bcd28; /* 成功色 */
  --zaui-error: #ff5050; /* 错误色   */
  --zaui-danger: #ff5050; /* 警告色  */
  --zaui-price: #c41e21; /* 价格颜色 */
  --zaui-danger-bg: #ee6a3d20; /* 警告背景色 可用于通知的背景*/

  /** ==== 线条&背景 ====*/
  --zaui-line: #dfdfdf; /* 边框颜色  ===边框*/
  --zaui-dividing-line: #dfdfdf; /* 分割线颜色 ===表单分割线颜色 */
  --zaui-global-bg: #f6f7fa; /* 全局背景  ===整个全局page的背景 */
  --zaui-base-bg: #ffffff; /* 区块背景  ===卡片分块背景*/
  --zaui-base-fade-bg: rgba(255, 255, 255, 0); /* 区块背景渐变 */
  --zaui-base-fade-middle-bg: rgba(255, 255, 255, 0.5); /* skeleton 中间渐变 */

  /** ==== 文字颜色 ====*/
  --zaui-text-primary: #c41e21; /* 主题文字  有些地方不一定是主题颜色，所以加一个主题文字 */
  --zaui-text-title: #333333; /* 标题文字颜色  */
  --zaui-text: #333333; /* 正文颜色  ===输入框、普通正文、value */
  --zaui-text-weak: #666666; /* 次级正文颜色 ===label */
  --zaui-text-aide: #999999; /* 辅助文本（第三层级）===描述文字  */
  --zaui-text-placeholder: #bcbcbc; /* placeholder占位文字 ==输入框占位提示颜色 */
  --zaui-text-placeholder-opacity-half: #bcbcbc50;
  --zaui-link-color: #2d68c7;

  /** ==== 圆角型号 ====*/
  --zaui-radius-sm: 4px; /* 小号圆角  */
  --zaui-radius-md: 8px; /* 默认圆角   */
  --zaui-radius-lg: 16px; /* 大号圆角   */
  --zaui-radius-xlg: 24px; /* 超大号圆角   */
  --zaui-radius-xxlg: 40px; /* 超超大号圆角   */

  /** ==== 字体大小型号 ====*/
  --zaui-text-sx: 20px; /* 超小号文字  ==小提示，徽标  */
  --zaui-text-sm: 14px; /* 小号文字  ===提示文字，通知 */
  --zaui-text-md: 18px; /* 普通文字   */
  --zaui-text-lmd: 30px; /* 偏号文字  ===不常用  */
  --zaui-text-lg: 32px; /* 大号文字   --标题*/
  --zaui-text-xlg: 36px; /* 超大号文字  ==弹窗标题 */

  /** ==== 间距 ====*/
  --zaui-space-xxs: 4px; /* 超超小间距   ==文字间距或icon*/
  --zaui-space-xs: 8px; /* 超小间距   ==文字与图标间的间距 */
  --zaui-space-sm: 16px; /* 小间距   ==小卡片间距 */
  --zaui-space-md: 32px; /* 普通间距   ==两个卡片间距 */
  --zaui-space-lg: 36px; /* 大号间距   ==页面两侧padding */

  /** ==== 阴影 ====*/
  --zaui-shadow-sm: 0px 2px 0px 0px #e0e0e0; /* 小号阴影  ==小卡片阴影 */
  --zaui-shadow-md: 0px 4px 16px 0px rgba(0, 0, 0, 0.1); /* 普通阴影  == 普通卡片*/
  --zaui-shadow-lg: 0px 8px 32px 0px rgba(0, 0, 0, 0.06); /* 大号阴影  弹窗 */

  /** ************************************************************/
  /** ------~~~~~~~~~~~       页面token      ~~~~~~~~~~~----------*/
  /** ************************************************************/
  /** ==== 间距 ====*/
  --zaui-space-page: var(
    --zaui-space-md
  ); /* 页面两侧的间距 或 页面两个区块上下的间距*/
  --zaui-space-card: var(--zaui-space-lg); /* 卡片到视窗之间的间距margin */
  --zaui-space-block-content: var(
    --zaui-space-lg
  ); /* 整栏区块 与 内容 的 距离 */
  --zaui-space-card-content: var(--zaui-space-md); /* 卡片 与 内容 之间的距离 */

  /**==== 圆角 ====*/
  --zaui-radius-img: 8px; // 图片圆角
  --zaui-radius-card: 24px; // 模块卡片圆角
  --zaui-radius-dialog: 16px; // 弹窗圆角
  --zaui-radius-popup: 16px; // 底部浮层圆角

  /** ************************************************************/
  /** ------~~~~~~   组件token(针对需要覆盖的组件)  ~~~~~~~----------*/
  /** ************************************************************/
}
