.com-tab-filter {
  .article-mid {
    padding: 15px 0 10px 30px;
    display: flex;
    align-items: center;

    .article-tag::-webkit-scrollbar {
      height: 0;
    }

    .article-tag {
      overflow: auto;
      display: flex;
      width: 100%;
      height: 70px;
      padding-bottom: 24px;
      white-space: nowrap;
      .tag-item {

        // position: relative;
        // text-align: center;
        .trianele-out {
          display: flex;
          justify-content: center;
          padding-right: 20px;

          .triangle {
            width: 0;
            height: 0;
            margin-top: -2px;
            border-left: 18px solid transparent;
            border-right: 18px solid transparent;
            border-top: 14px solid $primary-color;
          }
        }

        .tag-out:last-child {
          margin-right: 0;
        }

        .tag-out {
          height: 50px;
          background: #f4f5f7;
          border-radius: 25px;
          padding: 12px 34px;
          margin-right: 20px;

          &.checked {
            background: $btn-background;
          }

          .tag-item-text {
            height: 26px;
            font-size: $zaui-font-size-md;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: 500;
            color: #959595;
            line-height: 26px;

            &.checked {
              color: #ffffff;
            }
          }
        }
      }
    }

    .divider {
      width: 16px;
      height: 40px;
      background: $btn-background;
      margin-right: 9px;
      margin-bottom: 20px;
    }

    .filter {
      display: flex;
      align-items: center;
      margin-right: 30px;
      padding-bottom: 20px;
      display: flex;
      align-items: center;
      color: $primary-color;
      font-size: $zaui-font-size-sm;
      fill: 616161;

      .icon-filter-1 {
        margin-left: 4px;
        margin-top: 2px;
      }

      .shadow {
        display: inline-block;
        margin-right: 8px;
        margin-left: -4px;
        width: 8px;
        height: 50px;
        background: linear-gradient(90deg, rgba(226, 226, 226, 0) 0%, rgba(168, 168, 168, 0.22) 100%);
        // background: linear-gradient(270deg, rgba(208, 208, 208, 0.52) 0%, rgba(226, 226, 226, 0) 100%);
      }

      .text {
        width: 59px;
        margin-right: -1px;
      }
    }
  }

  .popup-inner {
    padding-left: 34px;

    .popup-title {
      height: 42px;
      margin-top: 80px;
      margin-bottom: 24px;
      color: #343434;
      font-weight: 500;
      font-size: $zaui-font-size-lg;
      font-family: PingFangSC-Medium, PingFang SC;
      line-height: 42px;
    }

    .popup-tag-out {
      display: flex;
      flex-wrap: wrap;

      .popup-tag-item {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        margin-right: 20px;
        margin-bottom: 20px;
        padding: 10px 30px;
        background: #ffffff;
        border: 2px solid #e0e0e0;
        border-radius: 8px;

        &.checked {
          background: $btn-background;
          // border-color: transparent;
          border: 0px;
        }

        .pop-tag {
          height: 37px;
          color: #616161;
          font-weight: 400;
          font-size: $zaui-font-size-md;
          line-height: 37px;

          &.checked {
            color: #ffffff;
            font-weight: 500;
          }
        }
      }
    }
  }

  .search-filter {
    position: relative;
    width: 600px;
    height: 100vh;
    padding: 104px 40px 150px;
    overflow-y: auto;
    background: #fff;
  }
}