.com-za-share-overlay{
    .wrapper {
        position: relative;
    .block {
      color: #ffffff;
      right: 130px;
      position: absolute;
      top: 400px;
    }
    img {
      position: absolute;
      width: 180px;
      height: 350px;
      right: 50px;
      top: 20px;
    }
  }
}

