.com-za-empty{
    .empty-img{
        display: flex;
        justify-content: center;
        margin-bottom: 37px;
        img{
            width: 201px;
            height: 200px;
        }
    }
    .empty-title{
        text-align: center;
        margin-bottom: 8px;
        font-size: $zaui-font-size-md2;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #616161;
        // line-height: 42px;
    }
    .empty-desc{
        text-align: center;
        margin-bottom: 44px;
        font-size: $zaui-font-size-md;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #C1C1C1;
        // line-height: 37px;
    }
    .empty-btn{
       display: flex;
       align-items: center;
       justify-content: center;
    }
}
